.header {
    /* always take 95% of view port height, vh it will change dinamically so it is better to use it */
    height: 95vh;
    background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    /* clip or cut some part of the image */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* will help to position its child logo-box */
    position: relative;
    // BEM allow us to nested, & copies the previous slector  
    &__logo-box {
        /* absolute position start counting from the parent's referance in this case is the header */
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo {
        /* if we define the height the width will automatically be define */
        height: 3.5rem;
    }
    &__text-box {
        /* we need to center this so we can use the text-box to centered */
        position: absolute;
        /* in realtion to the parent */
        top: 40%;
        left: 50%;
        /* in realation to the element itself since top & left are 50% starts at the middle but we actually need to start at the middle of the content, will centered vertically & horizonatally  */
        transform: translate(-50%, -50%);
        text-align: center;
    }
}